@charset "utf-8";

#form1{
	margin: 40px auto;
	width: 600px;
	padding: 10px;
	border: 1px solid #7A7A7A;
	border-radius: 5px;
	font-family: "Microsoft YaHei";
}
#form1 h2 {
	width: 100%;
	height: 40px;
	text-align: left;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
}
#form1 > div {
	width: 100%;
	margin-bottom: 20px;
}
#form1 > div > span {
	margin-left: 20px;
	font-size: 14px;
}
#form1 label {
	display: block;
	width: 100%;
	text-align: left;
	font-family: "Microsoft YaHei";
	font-size: 14px;
	line-height: 24px;
	color: #aaa;
}
#form1 input {
	width: 360px;
	height: 30px;
	border: 1px solid #aaa;
	border-radius: 5px;
	font-size: 14px;
	line-height: 28px;
}
#form1 .submit {
	position: relative;
	left: 0;
	margin-top: 30px;
	width: 100px;
	height: 40px;
	border: .5px solid #7A7A7A;
	border-radius: 5px;
	font-family: "Microsoft YaHei";
	font-size: 18px;
	background-color: #1AE437;
	color: #fff;
}