#edit {
  $editColor: #878787;

  position: relative;
  width: 1000px;
  margin: 100px auto 200px;;
  background-color: #fff;
  padding: 20px 20px 100px;
  font-size: 14px;

  .title, .footer {
    width: 100%;
  }
  .title {
    height: 36px;
    text-align: center;
    border: none;
    font: 28px/36px "Microsoft YaHei";
    margin: 10px 0;
  }
  hr {
    background-color: $editColor;
  }
  div.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid $editColor;
  }
  .addWrap, .questionnaire {
    width: 90%;
    margin: 20px auto;
  }
  .addWrap {
    border: 1px solid $editColor;
    .options {
      display: none;

      width: 340px;
      height: 100px;
      margin: 0 auto;
      color: #000;
      .option {
        box-sizing: border-box;
        float: left;
        display: block;
        width: 100px;
        height: 40px;
        border: 1px solid $editColor;
        background-color: $mainBgc;
        text-align: center;
        line-height: 40px;
        margin-left: 20px;
        margin-top: 30px;
        cursor: pointer;
        &:hover {
          background-color: #999;
        }
      }
      span:first-child {margin-left: 0;}
    }
    .add {
      width: 100%;
      height: 100px;
      background-color: $mainBgc;
      cursor: pointer;
      p {
        margin: 0 auto;
        height: 100px;
        width: 200px;
        line-height: 100px;
        text-align: center;
        font-size: 18px;
        color: #000;
      }
      &:hover {
        background-color: #999;
      }
    }
  }
  .footer {
    .dateWrap {
      position: relative;
      height: 30px;
      width: 300px;
      float: left;
      margin: 60px 60px 0;
      line-height: 30px;
      input {
        float: right;
        box-sizing: border-box;
        width: 210px;
        height: 30px;
      }
    }
    .btns {
      width: 230px;
      margin-top: 60px;
      float: left;
      button:first-child {margin-right: 20px;}
      button {
        cursor: pointer;
        width: 100px;
        height: 28px;
        background-color: #FFF;
        border: 1px solid $editColor;
        &:hover {
          background-color: $mainColor;
          color: #fff;
        }
      }
      
    }
  }
  .questionnaire {
    .question {
      position: relative;
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
      &:hover {
        background-color: $mainBgc;
        input[type="text"] {background-color: $mainBgc;}
        .operations {visibility: visible;}
        .addOption {visibility: visible;}
      }
      input[type="text"] {
        width: 90%;
        height: 24px;
        border: none;
        letter-spacing: 2px;
        font: 18px/24px "Microsoft YaHei";
      }
      .qhead {
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;        
      }
      .qoption {
        width: 100%;
        margin-left: 20px;
        label {
          position: relative;
          display: block;
          width: 100%;
          margin: 5px 0;
          span {
            position: absolute;
            left: 150px;
            visibility: hidden;
            cursor: pointer;
            color: #f00;
          }
          &:hover {
            span {visibility: visible;}
          }
        }        
      }
      .addOption {
        cursor: pointer;
        visibility: hidden;
        width: 100%;
        height: 20px;
        border: 1px dashed $editColor;
        text-align: center;
        line-height: 20px;
        &:hover {
          color: #00f;
          border: 1px solid #00f;
        }
      }
      .operations {
        visibility: hidden;
        text-align: right;
        span {
          cursor: pointer;
          margin: 0 5px;
          &:hover {color: #0f0;}
        }
      }
    }
  }
}