#pop {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  .inner {
    cursor: auto;
    $w: 300px;
    $h: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: $w;
    height: $h;
    margin-left: -$w/2;
    margin-top: -$h/2;
    background-color: #fff;
    h2 {
      height: 36px;
      line-height: 36px;
      background-color: $mainColor;
    }
    p {
      height: 80px;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      margin: 26px 0;
    }
    div {
      width: 150px;
      height: 30px;
      margin: 0 auto;
      button:first-child {margin-right: 30px;}
      button {
        cursor: pointer;
        width: 60px;
        height: 20px;
        &:hover {
          border: 0;
          color: #fff;
          background-color: $mainColor;
        }
      }
    }
  }
}